---
import Base from '../layouts/Base.astro';
---
<Base title="오시는길 메타 제목" description="오시는길 메타 설명" current="오시는길">
<div class="page-banner"><div class="wrap"><p class="breadcrumb"><a href="index.html">홈</a> › 오시는 길</p><h1>오시는 길</h1></div></div>

<main id="main" class="page-body"><div class="wrap">
  <article class="content">
    <h2>섹션1 제목</h2>
    <table class="info">
      <caption>섹션1 표 캡션</caption>
      <tr><th scope="row">표1 항목명</th><td>표1 값</td></tr>
      <tr><th scope="row">표2 항목명</th><td>표2 값</td></tr>
      <tr><th scope="row">표3 항목명</th><td><a href="mailto:info@goodvision.or.kr">표3 값</a></td></tr>
      <tr><th scope="row">표4 항목명</th><td>표4 값</td></tr>
    </table>

    <h2>섹션2 제목</h2>
    <h3>섹션2 소제목1</h3>
    <p>섹션2 본문1</p>
    <h3>섹션2 소제목2</h3>
    <p>섹션2 본문2</p>

    <h2>섹션3 제목</h2>
    <p>섹션3 본문</p>
  </article>
</div></main>
</Base>
