---
import Base from '../layouts/Base.astro';
---
<Base title="오시는길 메타 제목" description="오시는길 메타 설명" current="오시는길">
<div class="page-banner"><div class="wrap"><p class="breadcrumb"><a href="index.html">홈</a> › 오시는 길</p><h1>오시는 길</h1></div></div>

<main id="main" class="page-body"><div class="wrap">
  <article class="content">
    <h2>섹션1 제목</h2>
    <table class="info">
      <caption>섹션1 표 캡션</caption>
      <tr><th scope="row">주소</th><td>서울시 은평구 응암로 34길 24-8 한솔하이빌 101호</td></tr>
      <tr><th scope="row">연락처</th><td>02-123-1234</td></tr>
      <tr><th scope="row">이메일</th><td><a href="mailto:아이디@도메인.COM">아이디@도메인.COM</a></td></tr>
      <tr><th scope="row">표4 항목명</th><td>표4 값</td></tr>
    </table>

    <h2>섹션2 제목</h2>
    <h3>섹션2 소제목1</h3>
    <p>섹션2 본문1</p>
    <h3>섹션2 소제목2</h3>
    <p>섹션2 본문2</p>

    <h2>섹션3 제목</h2>
    <p>섹션3 본문</p>
  </article>
</div></main>
</Base>
